---
import ButtonPrimary from '../components/ButtonPrimary.astro';
import ButtonSecondary from '../components/ButtonSecondary.astro';
import SizeContainer from '../components/SizeContainer.astro';
import Text from '../components/Text.astro';
import BasicLayout from '../layouts/BasicLayout.astro';

import imageProductSymbol from '../../src/assets/images/im_product_field.png';
import imageDesignSymbol from '../../src/assets/images/im_design_field.png';
import imageProgramingSymbol from '../../src/assets/images/im_programing_field.png';


---

<BasicLayout title="Nahlmb.dev">
	<section id="greetings" class="relative overflow-hidden">
		<SizeContainer>
			<div class="bg-green-200 rounded-full absolute top-12 blur-2xl bg-opacity-25 left-1/2 overflow-hidden" data-aos="zoom-in"  style="z-index: -100; height: 500px; width:500px"></div>
			<div class=" bg-blue-200 rounded-full absolute  bottom-12 blur-2xl bg-opacity-25 left-3/2 overflow-hidden"  data-aos="zoom-in" style="z-index: -101; height: 500px; width:500px"></div>
			<div class="flex items-center justify-center flex-col text-center py-28 overflow-hidden">
				<h1 class="font-bold text-6xl md:text-8xl" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1500">Bring a
					Goodness</h1>
				<p class="mt-12 mb-12 text">“The world of digital product development is a wide and a unique world,
					developer and product
					creator is able to bring works that are really beneficial for many.
					Helping is a noble thing and Allah provides a big reward for that, therefore that should be the goal
					of us. Let's do together, creating and spreading a goodness. As for all the goodness that we achive,
					it is 100% a blessing from the Most
					Merciful, we ask Allah, may the Most Merciful give us help always to be able to work and share and
					achieve
					victory”</p>
				<div>
					<ButtonPrimary href="/works">our works together</ButtonPrimary>
					<ButtonSecondary href="/blogs">blogs and reminder</ButtonSecondary>
				</div>
			</div>
		</SizeContainer>
	</section>
	<section id="fields" class="bg-primary bg-opacity-5">
		<SizeContainer>
			<div class="flex flex-col items-center py-24" data-aos="fade-down">
				<h1 class="font-bold text-2xl mb-6">The Fields</h1>
				<div class="flex">
					<div
						class="flex bg-primary bg-opacity-5 hover:bg-gray-200 rounded-full transition p-1 dark:bg-gray-700 dark:hover:bg-gray-700">
						<nav class="flex space-x-2" aria-label="Tabs" role="tablist">
							<button
								class="hs-tab-active:bg-black hs-tab-active:text-background hs-tab-active:hover:text-white py-2 px-6 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-full hover:hover:text-primary dark:text-gray-400 dark:hover:text-white active"
								id="hs-tab-js-behavior-item-1" data-hs-tab="#hs-tab-js-behavior-1"
								aria-controls="hs-tab-js-behavior-1" role="tab">
								programming
							</button>
							<button
								class="hs-tab-active:bg-black hs-tab-active:text-background hs-tab-active:hover:text-white py-2 px-6 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-full hover:hover:text-primary dark:text-gray-400 dark:hover:text-white"
								id="hs-tab-js-behavior-item-1" data-hs-tab="#hs-tab-js-behavior-2"
								aria-controls="hs-tab-js-behavior-2" role="tab">
								product
							</button>
							<button
								class="hs-tab-active:bg-black hs-tab-active:text-background hs-tab-active:hover:text-white py-2 px-6 inline-flex items-center gap-2 bg-transparent text-sm text-gray-500 hover:text-gray-700 font-medium rounded-full hover:hover:text-primary dark:text-gray-400 dark:hover:text-white"
								id="hs-tab-js-behavior-item-1" data-hs-tab="#hs-tab-js-behavior-3"
								aria-controls="hs-tab-js-behavior-3" role="tab">
								design
							</button>
						</nav>
					</div>
				</div>
				<div class="mt-6">
					<div id="hs-tab-js-behavior-1" role="tabpanel" aria-labelledby="hs-tab-js-behavior-item-1">
						<div class="flex flex-col md:flex-row items-center">
							<img src={imageProgramingSymbol} alt="computer" class="h-40 pb-6 mr-6">
							<p class="text-gray-700 dark:text-gray-400 w-5/6 text-center md:text-start">
								I'm a programmer since 2018, I tried different kinds of technologies, but what I love
								and
								work
								on the most is Flutter app development and Web development with JAMSTACK, I think those
								two
								technologies are really productive and efficient technologies. Programming is a vast
								world,
								it
								must be learned from the basics, so basic then Insyaallah we can make various types of
								extraordinary beneficial works! </p>
						</div>
					</div>
					<div id="hs-tab-js-behavior-2" class="hidden text-start" role="tabpanel"
						aria-labelledby="hs-tab-js-behavior-item-2">
						<div class="flex flex-col md:flex-row items-center">
							<img src={imageProductSymbol} alt="product" class="h-40 pb-6 mr-6">
							<p class="text-gray-700 dark:text-gray-400 text-center md:text-start">
								Products are what we present to be a solution to people's needs that must be met,
								including
								us!,
								and products that use technology well will be very effective and good, and that's what I
								like
								about digital product development, this world requires us to think about presenting
								solutions
								and validate it, develop it and present it and grow the solution. </p>
						</div>

					</div>
					<div id="hs-tab-js-behavior-3" class="hidden text-start" role="tabpanel"
						aria-labelledby="hs-tab-js-behavior-item-3">
						<div class="flex flex-col md:flex-row items-center ">
							<img src={imageDesignSymbol} alt="design" class="h-40 pb-6 mr-6">
							<p class="text-gray-700 dark:text-gray-400 text-center md:text-start">
								We like things that look beautiful, neat and good and that's why design is so important.
								Talking
								about design, actually the meaning can be broad, but what I mean here is how we design
								and
								present something neatly and beautifully, therefore design is still closely related to
								programming and digital products, one of the important things to learn. </p>
						</div>
					</div>


					<!--  -->
				</div>
			</div>
		</SizeContainer>
	</section>
	<section>
		<SizeContainer>
			<div class="py-24 flex flex-col md:flex-row text-center md:text-start items-center" data-aos="fade-right">
				<Text>
					<h2 class="m-0 mb-1">Link Tree</h2>
					<p>The following are links that can be viewed to get contacted, There's several social media, a
						constructive input is always good and let's help each other together!</p>
				</Text>
				<div class="m-4"></div>
				<div class="flex-none w-full md:w-1/2">
					<ul>
						<li
							class="bg-primary bg-opacity-5 p-4 rounded-xl my-2 border-2 border-transparent hover:border-primary hover:border-opacity-10 cursor-pointer">
							<a href="https://github.com/nahlmb">Nahl's Github</a>
						</li>
						<li
							class="bg-primary bg-opacity-5 p-4 rounded-xl my-2 border-2 border-transparent hover:border-primary hover:border-opacity-10 cursor-pointer">
							<a href="https://www.linkedin.com/in/nahlmb/">Nahl's Linkedin</a>
						</li>
						<li
							class="bg-primary bg-opacity-5 p-4 rounded-xl my-2 border-2 border-transparent hover:border-primary hover:border-opacity-10 cursor-pointer">
							<a href="https://instagram.com/nahlmb">Nahl's Instagram</a>
						</li>
					</ul>
				</div>
			</div>
		</SizeContainer>
	</section>
</BasicLayout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
	}

	.css-blurry-gradient {
		position: absolute;
		top: 100px;
		right: 10px;
		transform: translate(-50%, 0%);
		width: 800px;
		height: 800px;
		border-radius: 50% 22% 40% 80%;
		filter: blur(100px);
		z-index: -100;
		background: radial-gradient(circle at 50% 50%, rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
		opacity: 0.2;
	}
</style>