---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Welcome to Astro.">
	<header class="border-b-2 border-b-outline flex items-center justify-center py-3">
		<div>nhal</div>
	</header>
	<main class="container mx-auto">
		<section class="flex items-center flex-col text-center py-12">
			<h1 class="font-bold text-2xl" >Hello I'm Nahl</h1>
			<p class="py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac vulputate cras sit mauris, feugiat vitae lorem tempus elementum. Porttitor neque convallis commodo tempus eget in amet. Sit in justo eget phasellus. Magna tincidunt duis vitae duis orci, adipiscing. Suspendisse in elit neque sagittis ipsum lacus amet. Risus dolor consequat quam vitae turpis donec sed gravida enim. Amet amet vulputate amet ultrices varius orci in a venenatis. Vitae amet, lorem lorem nulla egestas vel. Vitae nam a, morbi risus, gravida leo sed egestas non. Accumsan, lorem sodales sapien enim.</p>
			<div>
				<button type="button" class="mr-2 py-2 px-4 inline-flex justify-center items-center gap-2 rounded-full border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
					Explore my work
				</button>
				<button type="button" class="py-2 px-4 inline-flex justify-center items-center gap-2 rounded-full border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
					Blog posts!
				</button>
			</div>
		</section>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}
</style>
