<!-- <div class="carousel">
    <div class="carousel_item">
        
        <img class="carousel_text" src="https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
        <img class="carousel_text" src="https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
        <img class="carousel_text" src="https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
        <img class="carousel_text" src="https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
        <img class="carousel_text" src="https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
</div>-->
<div class="slider">
    <div class="slide-track">
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
        <div class="slide flex justify-center items-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
                vulputate cras sit mauris, feugiat vitae lorem tempus elementum.
                Porttitor neque convallis commodo tempus eget in amet. Sit in
                justo eget phasellus. Magna tincidunt duis vitae duis orci.
            </p>
        </div>
       
    </div>
</div>
<style>
    /* body {
	 align-items: center;
	 background: #e3e3e3;
	 display: flex;
	 height: 250vh;
	 justify-content: center;
} */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }
    .slider {
        background: transparent;
        /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
        height: 250px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .slider::before,
    .slider::after {
        /* background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
        ); */
        content: "";
        height: 250px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    .slider::before {
        left: 0;
        top: 0;
    }
    .slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(500px * 14);
    }
    .slider .slide {
        padding-right: 48px;
        text-align: start;
        height: 250px;
        width: 500px;
    }

    .slider .slide p {
        font-style: italic;
    }

    /* * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    /* .carousel {
        max-width: 100vw;
        margin: 0 auto;
        overflow: hidden;
    }
    .carousel_item {
        display: flex;
        animation: carousel 4s linear infinite;

    }
    .carousel_text {
        display: block;
    }
    @keyframes carousel {
        100%{
            transform: translateX(-100vw);
        }
    } */
</style>
