---
import Layout from "./Layout.astro"
import imgReference from '../../src/assets/images/ic_nahl_logo.svg';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<Layout title={title}>
    <header class="border-b-2 border-b-outline flex items-center justify-center py-3 fixed w-full bg-background bg-opacity-90 backdrop-blur-md" style="z-index: 100000;">
       <a href="/">
            <img src={imgReference} alt="logo" width="35">
       </a>
	</header>
    <main class="pt-16">
        <slot/>
    </main>
</Layout>