---
import SizeContainer from "../components/SizeContainer.astro";
import Text from "../components/Text.astro";
import BasicLayoutNoFooter from "./BasicLayoutNoFooter.astro";
const {content} = Astro.props;
const date = new Date(content.date).toLocaleDateString('id-ID', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});
---

<BasicLayoutNoFooter title={content.title}>
    <div class="relative overflow-hidden">
        <div class="bg-orange-100 rounded-full absolute top-0 blur-3xl bg-opacity-30 overflow-hidden"  style="z-index: -10; height: 1000px; width:1000px; right: -300px"></div>
        <div class=" bg-yellow-100 rounded-full absolute blur-3xl bg-opacity-30 overflow-hidden"  style="z-index: -10; height: 1000px; width:1000px; left:-400px; bottom: -200px"></div>
        <SizeContainer>
            <div class="flex justify-center px-4">
                <div class="pt-16 pb-28 max-w-xl">
                    <h1 class="text-center text-6xl font-bold py-12">{content.title}</h1>
                    <Text>
                        <slot/>
                    </Text>
                </div>
            </div>
        </SizeContainer>
    </div>
</BasicLayoutNoFooter>